{% block content %}

    <<<<<<< HEAD
    <!-- Status block -->
    <div class="status">
        <h5 class="block block-header">Status</h5>
        <p class="block block-footer">
            {{ user.userinfo.info }}
        <p>
    </div>
    =======
    <!-- Status block -->
    <div class="status">
        <h5 class="block block-header">Status</h5>
        <p class="block block-footer">
            {{ user.userinfo.info }}
        <p>
    </div>
    >>>>>>> Добавлена красивая страница пользователя

{% endblock %}