{% extends "base.html" %}

{% block title %}{{ user.username }} | Profile{% endblock %}
{% block external %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/modal_window.css' %}">
{% endblock %}

{% block head %}{{ user.username }} | Profile{% endblock %}

{% block content %}
    <div class="inf">

    <h2> Name: {{ user.username }} </h2>
        {% if user.userinfo %}
        <img src="{{ user.userinfo.big_photo.url}}" height="200" width="300"/>
        <p>Status: {{ status}}</p>
        <p>Country: {{ user.userinfo.country }}</p>
        {% if user.userinfo.city %}
            <p>City: {{ user.userinfo.city }}</p>
        {% endif %}
         {% if user.userinfo.phone_num %}
            <p>Phone: {{ user.userinfo.phone_num }}</p>
        {% endif %}
        {% endif %}
    </div>

    <div class="user-posts">
        {% include "UserProfile/notes_list.html" %}
    </div>

    <span id="load_href_1">Load prevision notes</span>

    {% include 'modal_delete.html' %}
{% endblock %}

{% block script %}

    {% load staticfiles %}
    <script src="{% static '/js/jquery_3_3_1.min.js' %}"></script>
    <script src="{% static '/js/ajax_get_notes.js' %}"></script>
    <script src="{% static '/js/show_modal.js' %}"></script>

    <script>

        $(document).ready(function () {
            // Посилання з id="test" буде тригером події
            $(".note_text").click(function () {

            });

        });


    </script>

{% endblock %}