<div class="note" id="note_element-{{ note.pk }}">

    <span class="note_date">{{ note.date_public| date:"d-m-Y H:i" }}</span> <br/>
    -------------------------
    <span class="delete_element">[delete]</span> |
    <span>[edit]</span>

    <div class="note_text">
        {{ note.text }}
    </div>
    <div class="note_img">
        {% for image in note.get_images %}
            <img src="{{ image.file.url }}" height="200" width="300"/>
        {% endfor %}
    </div>
    <div class="note_video">
        {% for video in note.get_video %}
            <video controls="controls">
                <source src="{{ video.file.url }}">
            </video>
        {% endfor %}
    </div>

    <div class="note_audio">
        {% for audio in note.get_audio %}
            <audio controls="controls">
                <source src="{{ audio.file.url }}">
            </audio>
        {% endfor %}
    </div>

    <div class="note_files">
        {% for file in note.get_files %}
            <a download="file.file.url">Cкачать</a>
        {% endfor %}
    </div>


    -------------------------
</div>