<form class="house-form form-group col-8" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    <div class="house-edit-header block block-header">
        <h4 class="pl-3 mb-1">House edit</h4>
    </div> <!-- house-edit-header -->

    <div class="house-edit-body block p-3">

        <label class="pl-2 mb-0" for="id_title">Title</label>
        {{ form_house.title }}

        <div class="row">
            <div class="col-6">
                <label class="pl-2 mb-0" ="id_country">Country</label>
                {{ form_house.country }}
            </div>
            <div class="col-6">
                <label class="pl-2 mb-0" for="id_city">City</label>
                {{ form_house.city }}
            </div>
        </div>

        <label class="pl-2 mb-0" for="id_address">Address</label>
        {{ form_house.address }}

        <div class="row">
            <div class="col-4">
                <label class="pl-2 mb-0" for="id_type">Type of house</label>
                {{ form_house.type }}
            </div>
            <div class="col-4">
                <label class="pl-2 mb-0"for="id_rooms">Rooms</label>
                {{ form_house.rooms }}
            </div>
            <div class="col-4">
                <label class="pl- mb-0" for="id_sleeper">Sleeper place</label>
                {{ form_house.sleeper }}
            </div>
        </div>

        <label class="pl-2 mb-0" for="id_price">Price</label>
        {{ form_house.price }}

        <label class="pl-2 mb-0" for="id_about">About</label>
        {{ form_house.about }}
        
        <div class="file-upload col-3">
            {{ form_photo.image }}
            {{ form_photo.image_file }}
            <label class="btn m-0 btn-warning" for="id_image">Set images</label>
        </div>

        <div id="house-images-board" class="col-9">
            {% if is_creating == false %}
                {% for image in house.get_images %}
                    <img src="{{ image.image.url }}" class="house-image img-fluid">
                {% endfor %}
            {% endif %}
        </div>

        

    </div>

    <div class="house-edit-footer block block-footer d-flex justify-content-center">
        {% if is_creating %}
            <input type="submit" class="btn btn-primary py-1" value="Create"/>
        {% else %}
            <input type="submit" class="btn btn-warning py-1" value="Edit"/>
        {% endif %}
    </div> <!-- house-edit-footer -->

    {% for error in errors_type %}
        {{ error }} <br/>
    {% endfor %}
</form>