<div class='house-edit-create'>
    <form class='house-form' action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% for error in errors_type %}
            {{ error }} <br/>
        {% endfor %}

        {{ form_house.as_p }}

        {% comment %}
        {{ form_house.non_field_errors }}
        <div class="create-node-form">

            <div class="fieldWrapper">
                {{ form_note.text.errors }}
                <label for="{{ form_note.text.id_for_label }}">Text:</label>
                <div class="note-text-data full">
                    {{ form_note.text }}
                </div>
            </div>
        </div>
{% endcomment %}
        {{ form_photo.as_p }}

        {% if is_creating %}
            <input type="submit" value="Create"/>
        {% else %}
            <div class="house_img">
                {% for image in house.get_images %}
                    <img src="{{ image.image.url }}" height="200" width="300"/>
                {% endfor %}
            </div>
            <input type="submit" value="Edit"/>
        {% endif %}

    </form>
</div>