{% extends "base.html" %}

{% block title %}House search{% endblock %}

{% block head %}House search{% endblock %}
{% block external %}
    {% load staticfiles %}
    <!-- >jquery-ui для вывода ползунка </!-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" type="text/css" href="{% static '/css/search.css' %}">
    <script src="{% static '/js/jquery_3_3_1.min.js' %}"></script>


{% endblock %}


{% block content %}
    <!-- >Форма поиска</!-->
    {% include 'HouseSerch/multi_search_form.html' %}

    {% include 'HouseSerch/includes/paginatin_block.html' %}
    <!-- >Список домов</!-->
    {% include 'HouseSerch/includes/houses_list.html' %}

{% endblock %}

{% block script %}

    {% load staticfiles %}
    <!-- >jquery-ui для вывода ползунка </!-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript" src="{% static "js/jsearch.js" %}"></script>

    <!-- >Подгружает вписок стран для выбора </!-->
    <script type="text/javascript" src="{% static "js/ajax_load_countries.js" %}"></script>

{% endblock %}