<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock %}</title>

    {% block external %}{% endblock %}

</head>
<body class="main">
    {% block nav %}
        <div class="nav position-fixed" style="z-index: 1">

        {% if user.is_authenticated %}
            <a href="{{ object.get_absolute_url }}">home page</a> |
            <a href="/reg/logout/">logout</a> |
            <a href="/reg/info/">info</a> |
            <a href="/user/note/create/">new note</a> |
            <a href="/house/create/">new note</a> |
        {% else %}
            <a href="/reg/login/">login</a> |
            <a href="/reg/registration/">sign in</a>
        {% endif %}
        </div>
    {% endblock %}

    <h1>{% block head %}{% endblock %}</h1>
    
    <!-- !!! pt-4 Паддинг для нав-бара, он будет меняться в зависимости от размера нав-бара !!! -->
    <div class="container pt-4">
        {% block content %}
        {% endblock %}
    </div> <!-- container-fluid -->

</body>

{% block script %}
{% endblock %}

</html>